<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Product sorted pagination</title>
</head>
<body>
<h3>SORTED PAGINATION, SORTING BY <th:block th:text="${field}"/>, IN <th:block th:text="${order}"/> ORDER</h3>
<table border="1" style="width:100%">
    <tr>
        <th><a th:href="@{''(field=id, p=${param.p})}">Id</a></th>
        <th><a th:href="@{''(field=name, p=${param.p})}">Name</a></th>
        <th><a th:href="@{''(field=price, p=${param.p})}">Price</a></th>
        <th><a th:href="@{''(field=createDate, p=${param.p})}">Date</a></th>
    </tr>
    <th:block th:each="item: ${page.content}">
        <tr>
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.createDate}"></td>
        </tr>
    </th:block>
</table>
<a th:href="@{''(p=0)}">First</a>
<a th:href="@{''(p=${T(java.lang.Math).max(page.number - 1, 0)})}">Previous</a>
<a th:href="@{''(p=${T(java.lang.Math).min(page.number + 1, page.totalPages - 1)})}">Next</a>
<a th:href="@{''(p=${page.totalPages - 1})}">Last</a>
<ul>
    <li>Số thực thể hiện tại: [[${page.numberOfElements}]]</li>
    <li>Trang số: [[${page.number}]]</li>
    <li>Kích thước trang: [[${page.size}]]</li>
    <li>Tổng số thực thể: [[${page.totalElements}]]</li>
    <li>Tổng số trang: [[${page.totalPages}]]</li>
</ul>
</body>
</html>