<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Auth test</title>
</head>
<body>
<a href="/account/edit-profile">Account edit profile</a>
<br>
<a href="/account/change-password">Account change password</a>
<br>
<a href="/account/test">Unauthenticated account page</a>
<br>
<a href="/order/1234">Order number 1234</a>
<br>
<a href="/admin/test">Random admin page</a>
<br>
<a href="/admin/home/index">Unauthenticated admin page</a>
<br>
<span th:text="${path}"></span>
<br>
<span th:text="${title}"></span>
<br>
<span th:text="${user}"></span>
<br>
<a href="/logout"><button>Logout</button></a>
</body>
</html>